.item
  display: flex
  font-size: 14px
  align-items: center
  justify-content: flex-end
  position: relative
  border-radius: 5px
  padding: 10px 4px
  overflow: hidden
  background: #fff
  .mask
    position: absolute
    padding: 15px 16px
    border-radius: inherit
    color: #fff
    left: 0
    right: 0
    display: flex
    top: 0
    bottom: 0
    justify-content: space-between
    transition: all 0.2s
  &:hover
    .mask
      transform: translateX(-38px)
  
  .delete-icon
    svg
      width: 15px
      path
        fill: black
  &.list_expense
    box-shadow: -9px 8px 15px 1px #bebebe, 8px -5px 17px 0px #ffffff
    .mask
      background: #ff555d
  &.list_income
    box-shadow: -9px 8px 15px 1px #bebebe, 8px -5px 17px 0px #ffffff
    .mask
       background: #68e1b6
  .buttonset
    padding: 0px 9px
    position: relative
    top: 2px



