<div class="all-transactions">
  <div class="income col">
    <h4>Income</h4>
    <ng-container *ngFor="let item of items">
      <ng-container>
        <app-budget-item
          (onItemSelect)="onItemSelect($event)"
          (onItemRemove)="onItemRemove($event)"
          *ngIf="item.price >= 0"
          [item]="item"
          style="display: block; margin-bottom: 10px"
        ></app-budget-item>
      </ng-container>
    </ng-container>
  </div>

  <div class="expenses col">
    <h4>Expenses</h4>
    <ng-container *ngFor="let item of items">
      <app-budget-item
        (onItemSelect)="onItemSelect($event)"
        (onItemRemove)="onItemRemove($event)"
        *ngIf="item.price <= 0"
        [item]="item"
        style="display: block; margin-bottom: 10px"
      ></app-budget-item>
    </ng-container>
  </div>
</div>
